.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
$leftPadding: 15px;
$blueColor:#007bff;
input {
  font-family: 'sans-serif';
  }

button {
  font-family: sans-serif;
  
  &:hover {
    background-color: #a1a1a1;
  }

  &:active {
    background-color: #888;
  }
}

.cardDetails{
  padding-right: 15px;
  padding-left: $leftPadding;
  padding-bottom: 5px;
}
.cardDetailPadding{
  padding-left: $leftPadding;
}

table{
  width:82% !important;
}
h2{
  text-align: center ;
}
#creditCardDetail thead th{
    color: #fff;
    background-color: $blueColor;
    border-color:$blueColor;
    text-align: center;
}
.error{
  @extend .cardDetails;
}